.App {
  text-align: center;
  /* background-color: white; */
  background-image: url(/public/assets/images/nightsky.jpeg), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay; 

}